.create-product-container {
  width: 95%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-input,
.form-select,
.form-input-file {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-input:focus,
.form-select:focus {
  border-color: var(--bg-secondary);
  outline: none;
}

.form-select {
  cursor: pointer;
}

.file-input-container {
  display: flex;
  flex-direction: column;
}

.image-preview-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  overflow-x: auto;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.submit-btn {
  padding: 12px;
  background-color:var(--bg-secondary);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color:var(--bg-primary);
}

.submit-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.category-management-container {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.add-category-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.category-item-buttons {
    display: flex;
    gap: 10px;
}

.category-image-small {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
  .create-product-container {
    padding: 15px;
  }

  .form-title {
    font-size: 1.5rem;
  }

  .product-form {
    gap: 10px;
  }

  .add-category-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .category-item {
    flex-direction: column;
    align-items: flex-start;
  }
}
