@import "tailwindcss";

:root {
  --primary-main: #4E545C;
  --primary-dark: #1F1E23;
  --primary-light: #E1E1E1;

  --bg-primary: #1F1E23;
  --bg-secondary: #4E545C;

  --text-primary: #EAE7E0;
  --text-secondary: #B9A7A0;
  --text-light: #FFFFFF;

  --border-color: #4E545C;

  --shadow-sm: 0 2px 8px rgba(46, 46, 46, 0.2);
  --shadow-md: 0 4px 6px -1px rgba(49, 49, 49, 0.15);

  --background: #ffffff; /* Default light mode background */
  --foreground: #171717; /* Default light mode foreground */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode foreground */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}