.category-container {
    margin-top: 50px;
    margin: 2rem auto;
    width: 90%;
    
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s;
    background: #ffffff;
    border-radius: 12px;
    padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.swiper-pagination{
     display: none;
}

@media (max-width: 768px) {
    .category-container {
        width: 95%;
    }
}


.category-card:hover {
    transform: translateY(-5px);
}

.category-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-card p {
    font-size: 1.2rem;
    font-weight: 600;
}
