.product_id {
  text-decoration: none;
  color: inherit;
}

.product-grid {
  display: grid;
  margin: 2rem 0;
  padding: 0 1rem;
}

.add-to-cart {
  display: block;
  margin: 0 auto;
}

.rating_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .product-grid {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .product-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .product-grid {
      grid-template-columns: 1fr;
  }
}

.product-card {
  color: var(--text-primary);
  border-radius: 10px;
  box-shadow: var(--shadow-md);
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  position: relative; /* Added for positioning the badge */
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-sm);
}

.new-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: red;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
  border: 1px solid #ccc;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
}

.product-image-card {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 200px;
}

.product-details {
  padding: 1rem;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--bg-primary);
}

.product-description {
  font-size: 0.9rem;
  color: var(--bg-secondary);
  margin-bottom: 0.5rem;
}

.home-price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-main);
  margin-bottom: 1rem;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 0.5rem;
}

.offered-price {
  font-weight: bold;
  color: var(--primary-main);
}

.add-to-cart {
  background-color: var(--primary-main);
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.add-to-cart:hover {
  background-color: var(--primary-dark);
}
